body{
    margin: 0px;
    background-color: #000;
    background-image: url(/beach.jpg);
    background-position: center center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color:palegoldenrod;
}

.right-side {
    display: flex;
}

.name {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    color:black;
}

.left-side {
    display: flex;  
}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.about_me_wrapper {
    position: center center;
    padding: 38px;
    text-align: center;
    margin-top: 100px;
    margin-right: 30%;
    margin-left: 30%;
    height: 600px;
    background-color: palegoldenrod;
}

.project-item-wrapper > img {
    height:80%;
    width: 100%;
}

.nav-link-wrapper > a{
    color:lightslategrey;
    text-decoration: none;
    transition: color 0.5s;
}

.project-wrapper {
    margin-top: 40px;
    background-color: palegoldenrod;
    height:fit-content;
}

.project-content-wrapper {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.project-item-wrapper {
    margin-left: 15%;
    margin-right: 15%;
    position:relative;
    height:80vh;
}

.project-item-description {
    font-size: 18px;
}



.project-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper > a:hover {
    color: black;
}

.content-wrapper {
    padding: 20px;
}
.portfolio-items-wrapper {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.portfolio-items-title {
    padding-bottom: 5px;
}

.portfolio-item-wrapper {
    position: relative;
    background-color:palegoldenrod;
    padding: 20px;
    margin-right: 30px;
    margin-left: 30px;
    height: 500px;
}



.portfolio-item {
    color:lightslategrey;
    font-size: 0.63em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 10px;
}

.portfolio-item > a {
    color:lightslategrey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.5s;
    text-decoration: none;
}
.portfolio-item > a:hover {
    color:black;
}
